<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
    <div id="app">
        <v-app>
            <v-main class="grey lighten-2">
                <v-container>
                    <v-row>
                        <h1>
                            <v-icon x-large>mdi-domain</v-icon>Yolov5Yakulto</h1>
                    </v-row>
                    <v-row>
                        <v-col cols="12" sm="3">
                            <v-row>
                                <v-flex lg12>
                                    <v-card class="ma-6 grey lighten-3">
                                        <v-card-title>raspberrypi streaming</v-card-title>
                                        <v-card-text>
                                            <img style="-webkit-user-select: none;margin: auto;background-color: hsl(0, 2%, 12%);" height="100%" width="100%" src="http://raspberrypi.local:8081/">
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-row>
                        </v-col>
                        <v-col cols="12" sm="3">
                            <v-row>
                                <v-flex lg12>
                                    <v-card class="ma-6 grey lighten-3">
                                        <v-card-title>raspberrypi/yolov5 settings</v-card-title>
                                        <v-card-text>
                                            <p>hogehoge</p>
                                            <p>hogehoge</p>
                                            <p>hogehoge</p>
                                            <p>fugafuga</p>
                                            <p>fugafuga</p>
                                            <p>fugafuga</p>
                                            <p>fugafuga</p>
                                            <p>hogehoge</p>
                                            <p>hogehoge</p>
                                            <p>hogehoge</p>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-row>
                        </v-col>
                        <v-col cols="12" sm="6">
                            <v-row>
                                <v-flex lg12>
                                    <v-card class="ma-6 grey lighten-3">
                                        <v-card-title>capture images</v-card-title>
                                        <v-card-text>
                                            <template>
                                                <v-data-table dense :headers="motion_header" :items="motion_data" :items-per-page="5" item-key="filename" class="elevation-1 ma-6"
                                                    :search="search" :custom-filter="filterOnlyCapsText">
                                                    <template v-slot:top>
                                                        <v-text-field v-model="search" label="Search(ファイル名で検索 例えば、'09250744など')" class="mx-4">
                                                        </v-text-field>
                                                    </template>
                                                    <template v-slot:item.img="{item}">
                                                        <img v-bind:src="'data:Image/png;base64,'+ item.img" height="50px" width="50px" />
                                                    </template>
                                                </v-data-table>
                                            </template>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-row>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-card class="ma-3 pa-6 grey lighten-3">
                            <v-card-title>yolov5 analysis images</v-card-title>
                            <v-layout row wrap>
                                <v-flex lg2 v-for="(item,i) in yolo_data" :key="i">
                                    <v-card class="grey lighten-4 ma-2">
                                        <v-card-text>
                                            <img v-bind:src="'data:Image/png;base64,'+ item.base64" width="100%" height="200px" alt="">
                                            <p>【datetime】{{item.regist_date}} : {{item.regist_time}}</p>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-card>
                    </v-row>
                </v-container>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: function () {
                return {
                    search: '',
                    motion_header: [
                        { text: 'id', value: 'id' },
                        { text: 'img', value: 'img' },
                        { text: 'file_date', value: 'file_date' },
                        { text: 'file_time', value: 'file_time' },
                        { text: 'filename', value: 'file_name' }
                    ],
                    motion_data: [],
                    yolo_header: [
                        { text: 'id', value: '_id' },
                        { text: 'img', value: 'img' },
                        { text: 'msg', value: 'msg' },
                        { text: 'labels', value: 'labels' },
                        { text: 'regist_date', value: 'regist_date' },
                        { text: 'regist_time', value: 'regist_time' },
                    ],
                    yolo_data: []
                }
            },
            methods: {
                get_picture: function () {
                    axios.get("http://localhost:5000/api/pictures")
                        .then(function (res) {
                            console.log(res)
                        });
                },
                filterOnlyCapsText: function (value, search, item) {
                    return value != null &&
                        search != null &&
                        value.toString().toLocaleUpperCase().indexOf(search) !== -1
                }
            },
            created: function () {
                var vm = this
                axios.get("http://192.168.0.100:5000/api/pictures")
                    .then(function (res) {
                        console.log(res)
                        console.log(res.data)
                        console.log(res.data.fileList)
                        vm.motion_data = []
                        vm.motion_data = res.data.fileList
                    });

                axios.get("http://192.168.0.100:5000/api/yolov5/pictures")
                    .then(function (res) {
                        console.log(res)
                        console.log(res.data)
                        vm.yolo_data = []
                        vm.yolo_data = res.data.result
                    });
            },
        })
    </script>
</body>

</html>